.raleway-font {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
  /* background-color: rgba(214, 221, 237, 0.997); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.primary-btn:hover {
  color: black;
  background-color: rgba(8, 85, 162, 0.279);
  cursor: pointer;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.276);
}

/* shared item */
.text-center {
  text-align: center;
}
.item-center {
  align-items: center;
}
.primary-btn {
  background-color: #4e47ff;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  height: 48px;
}
.title {
  font-weight: bold;
  font-size: 42px;
}
.font {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
}

/* head */
.head-bg {
  background-image: url('Assets/Hero-bg.png');
}
/* nav style */
nav {
  display: flex;
  margin: 0 auto;
  padding: 50px 150px;
  justify-content: space-between;
}
.nav-title {
  color: rgba(78, 71, 255, 1);
  font-size: 34px;
  font-weight: bold;
}
.nav-btn {
  width: 132px;
}
/* banner style */
.banner {
  padding: 145px 267px 200px 267px;
}
.banner-description {
  font-size: 65px;
  font-weight: bold;
  padding: 49px 0;
}
.banner-btn {
  width: 174px;
}

/* main */
main {
  max-width: 1140px;
  margin: 0 auto;
}
section{
  margin: 116px 0;
  align-items: center;
}

/* action style */
.action {
  display: flex;
  justify-content: space-between;
  gap: 220px;
}
.action-subtitle {
  width: 517px;
}
.action-btn {
  width: 229px;
}
.action img {
  border-radius: 42px;
}

/* user style */
.user-title {
  padding: 40px 0 50px 0;
}
.user-bg {
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
}
.split {
  display: flex;
  justify-content: space-around;
}
.user-data {
  font-size: 80px;
  height: 97px;
  width: 162px;
  color: rgba(78, 71, 255, 1);
}
.user-subtitle {
  padding-bottom: 40px;
  width: 160px;
  font-size: 20px;
}

/* challenge style */
.cha-title {
  padding-bottom: 50px;
}
.column {
  display: flex;
  gap: 20px;
}
.cha-column {
  padding: 25px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.cha-head {
  padding-top: 14px;
  font-weight: bold;
  font-size: 20px;
  width: 318px;
  height: 44px;
}
.last {
  display: flex;
  gap: 12px;
  padding-top: 24px;
}
.last img {
  border-radius: 9999%;
}
.lcolum {
  height: 46px;
  width: 266px;
  padding-top: 10px;
}
.ltitle {
  color: rgba(117, 117, 117, 1);
}
.ldes {
  color: rgba(179, 179, 179, 1);
}


/* touch section */
.touch {
  display: flex;
  gap: 115px;
  /* background-color: rgba(214, 221, 237, 0.997); */
}
.t-title {
  font-size: 97px;
  padding: 200px 0;
}
form {
  padding: 71px 0;
  background-color: #ffffffef;
}
.same-w {
  width: 50%;
}
.touch input[type='text'],
.touch input[type='email'],
.touch textarea {
  display: block;
  border: none;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 70px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0 19px 0;
}
.touch textarea {
  height: 135px;
  border-radius: 10px;
}


/* footer style */
footer a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.422);
  margin-right: 48px;
  height: 50px;
}
.w-name{
  font-size: 100px;
  color: rgba(78, 71, 255, 1);
}
.w-subtitle{
  margin: 18px 145px 40px 145px;
  height: 45px;
  font-size: 30px;
  padding: 0 120px;
}
